.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 150px minmax(calc(100vh - 250px), auto) 10px;
  gap: 5px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
  background-color: #faf9f4;
}

.header {
  grid-area: h;
}
.container {
  grid-area: c;
}
.footer {
  grid-area: f;
  padding: 10px;
  background-color: #faf9f4;
}
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.scroll-container {
  height: calc(100vh - 250px);
  overflow-y: auto;
  padding: 10px;
}

/* Optional: You can customize the scrollbar style for better UX */
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.apply-color {
  filter: invert(100%);
}
